<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>679315179165-gfri8v3dssa3crin417b59stvms6cakd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679315179165-gfri8v3dssa3crin417b59stvms6cakd</string>
	<key>API_KEY</key>
	<string>AIzaSyC9a1FmgpTxVk7pbol0zJWp4zGT8S4MmBI</string>
	<key>GCM_SENDER_ID</key>
	<string>679315179165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.padc.socialMediaApp</string>
	<key>PROJECT_ID</key>
	<string>padc-social-app</string>
	<key>STORAGE_BUCKET</key>
	<string>padc-social-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679315179165:ios:8cca2ee21a63b57f8d7674</string>
</dict>
</plist>